.profile-btn {
  border: none;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: contain;
  box-shadow: 2px 4px 4px grey; 
  border: 3px solid white;
}
.profile-btn img {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  position: fixed !important;
  filter: drop-shadow(2px 2px 4px grey);
}
#profile {
  height: 65px;
}

#profile-dropdown {
  padding: 70px 0px 0px 10px;
  float: right;
  display: none;
}

#profile-content {
  font-size: 16px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-content: center;
  width: 130px;
  height: 120px;
  /* padding: 6px; */
  background-color: #fff;
  /* border: 1px solid rgb(210, 207, 207); */
}

#profile-dropdown-item {
  padding: 6px;
}

#profile-dropdown-item:hover {
  background-color: rgb(230, 228, 228);
}
